*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

main {
    width: 60%;
    margin: 2rem auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 5vw);
    gap: 1em;
    height: auto;
    border: 1px solid red;
}
 
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.item-1 {
    grid-area: 1 / 1 / 3 / 3;
}

.item-2 {
    grid-area: 1 / 3 / 3 / 5;
}

.item-3 {
    grid-area: 1 / 5 / 6 / 9;
} 

.item-4 {
    grid-area: 3 / 1 / 6 / 5;
}

.item-5 {
    grid-area: 6 / 1 / 10 / 5;
}

.item-6 {
    grid-area: 6 / 5 / 10 / 9;
}
